.basket {
	border: 1px solid silver;
    margin: 10px;
    font-family: 'Roboto Slab', serif;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #fdd55c;
    box-shadow: 0 0 10px gray;
   &__head{

   	padding: 10px;
   	border-bottom: 1px solid silver;
   	background-color:  #ffc000;
   	color: #FFF;
   	font-size: xx-large;
   	font-weight: 550;
   	text-shadow: 0 1px 1px #c59400;
   	
   	i{
   		margin-right: 30px;
   	}
   }
   &__list{
   	display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ffae00;
    margin: 0 15px;
    color: #444444;
    p{
    	margin: 0px;
    	padding: 10px;
    }
   }
   &__sum{
   	padding: 20px 0px;
   	color: #444444;
   }
   &__button{
   	text-transform: uppercase;
   	margin-bottom: 20px;
   	padding: 5px 15px;
   	font-weight: bold;
   	color: #FFF;
   	border:none;
   	background-color: gray;
   	border-bottom: 1px solid gray;
   	font-size: medium;
   	border-radius: 3px;
   	padding: 8px 15px;
   	border-bottom: 1px solid #122835;
   }
   &__button:focus{
   	outline: none;
   }
}